.DS_Store

#-----------------------------
# dependency manager
#-----------------------------
Carthage
Pods
Podfile.lock
#-----------------------------
#xcodeproj
#-----------------------------
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace
#-----------------------------
#idea
#-----------------------------
.idea/**
/DerivedData
/report.xml
/fastlane/report.xml
/Gemfile.lock
/fastlane/README.md
